@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<core-app>
    <div>
        <p><img src="~/asset/images/gif/ajax-loader.gif" /> Please wait ...</p>
    </div>
</core-app>

@section Scripts {
    <script>
        System.config({
            map: {
                app: 'app'
            },
            packages: {
                app: {main: 'main.js',defaultExtension: 'js'}
            },
        });
        System.import('app/main').then(null, console.error.bind(console));
    </script>
}



