@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">
    <i class="fa fa-home"></i>@ViewBag.Title &nbsp;
</h2>
<h4 class="text-center">
    <i class="fa fa-copyright"></i>@ViewBag.Owner
</h4>

<core-app>
    <div>
        <p><img src="~/asset/images/gif/ajax-loader.gif" /> Please wait ...</p>
    </div>
</core-app>





@section Scripts {
    <script>
        System.config({
            map: {
                app: 'app'
            },
            packages: {
                app: { main: 'main.js', defaultExtension: 'js' }
            },
        });
        System.import('app/main').then(null, console.error.bind(console));
    </script>
}



