
.footer {
  position:fixed;
  bottom:0;
  height:auto;
  margin-top:40px;
  width:100%;
  text-align:center;
}

.shipcart {
  position:fixed;
  bottom:0;
  right:0;
  height:auto;
  margin:40px 40px 40px 40px;
}
