@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<hr />
<customer-edit>
    <div>
        <p><img src="~/images/gif/ajax-loader.gif" /> Please wait ...</p>
    </div>
</customer-edit>

@section Scripts {
    <script>
        System.config({
            map: {
                app: '/app'
            },
            packages: {
                'app': {
                    defaultExtension: 'js'
                }
            },
        });
        //System.import('app/Basic/Customer/customer.edit.main').then(null, console.error.bind(console));
    </script>
}



