@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<hr />
<customer-app>
    <div>
        <p><img src="~/asset/images/gif/ajax-loader.gif" /> Please wait ...</p>
    </div>
</customer-app>

@section Scripts {
    <script>
        System.config({
            map: {
                app: 'app/component/Basic/Customer',
                blockui: 'app/component/blockUI'
            },
            packages: {
                app: { main: 'customer.main.js', defaultExtension: 'js' },
                blockui: { main: 'blockUI.comp.js', defaultExtension: 'js' }
            }
        });
        System.import('app/customer.main','blockui/blockUI.comp').then(null, console.error.bind(console));
    </script>
}



