@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<hr />
<customer-app>
    <div>
        <p><img src="~/asset/images/gif/ajax-loader.gif" /> Please wait ...</p>
    </div>
</customer-app>

@section Scripts {
    <script>
        System.config({
            map: {
                app: 'app/Basic/Customer'
            },
            packages: {
                app: {main:'customer.main.js',defaultExtension: 'js'}
            }
        });
        System.import('app/customer.main').then(null, console.error.bind(console));
    </script>
}



