@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/customervc.index.js"></script>

@*<div>
    @await Component.InvokeAsync("CustomerVc", new { name = "JB" })
</div>*@
<div>
    @await Component.InvokeAsync("CustomerVc", new {display="Card",  name = "JB" })
</div>
<hr />
<div id="ajaxCust"></div>