<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label  col-md-2">Name</label>
        <div class="col-md-10">
            <input [(ngModel)]="customer.Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label  col-md-2">Phone</label>
        <div class="col-md-10">
            <input [(ngModel)]="customer.Phone" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Age</label>
        <div class="col-md-10">
            <input [(ngModel)]="customer.Age" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <input type="button" class="btn btn-success" value="Save" />
        <input type="button" class="btn btn-default" value="Back" (click)="BackToList()" />
    </div>
</div>
