@model Angular2.Mvc.Core.Models.ViewModel.VmCustomer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<customermvc-create>
    <div>
        <p><img src="~/asset/images/gif/ajax-loader.gif" /> Please wait ...</p>
    </div>
</customermvc-create>

@section Scripts {
    <script>
        System.config({
            map: {
                app: 'app/Basic/CustomerMvc'
            },
            packages: {
                app: { main: 'create.main.js', defaultExtension: 'js' }
            }
        });
        System.import('app/create.main').then(null, console.error.bind(console));
    </script>
}


