
<table>
    <tr>
        <td>
            <input type="button" value="Create" class="btn btn-info" (click)="goToCreate()" />
        </td>
    </tr>
</table>

<hr />

<div>
    <product-sub></product-sub>
</div>



<!--ngrx sample-->
<div class="footer">
    <table>
        <tr>
            <td (click)="decrement()"><label style="min-width:25px"><i class="fa fa-minus"></i></label></td>
            <td>{{counter | async}}</td>
            <td (click)="increment()"><label style="min-width:25px"><i class="fa fa-plus"></i></label></td>
        </tr>
    </table>
</div>


