@model List<Angular2.Mvc.Core.Models.ViewModel.VmCustomer>


<div class="alert alert-info" role="alert">
    @{
        var title = "Hi, " + ViewBag.Description;
    }
    @title
</div>

<div class="text-center">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div style="border:dashed 1px;" class="card card-block">
                <h4 class="card-title">@(new Microsoft.AspNetCore.Html.HtmlString(item.Name))</h4>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <p class="card-link">Phone/@Html.DisplayFor(modelItem => item.Phone)</p>
                <p>Age/@Html.DisplayFor(modelItem => item.Age)</p>
            </div>
        }
    }
</div>
